body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    padding: 50px 100px;
    background-color:#f1d4d4;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    margin: 0 200px 200px 200px;
}

.title{

}
.description{}
.name{}
.email{}
.age{}
.country{

}
.radio-button{

}
.checkbox{}
.textarea{}
.submit-button{}